body{
    background-repeat: no-repeat;
    background-attachment:fixid;
    background-size:cover;

}
.main{
    position: fixid;
    top: 140px;
    left:410;
    width: 550;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    padding: 5%;
    
}
h1{
    color: #0086b3;
    font: size 30px;
    font-weight:bold;
    
}
input[type=submit]{
    background-color: #4dc3ff;
    border:2px;
    font-weight ;
    padding:8px 16px;
    cursor:pointer;
    margin-top:15px;
   
}

.table .tr{
    padding-top:10px;
    margin-bottom:10px;
}